{
  "plugins": ["prettier-plugin-tailwindcss", "@ianvs/prettier-plugin-sort-imports"],
  "importOrder": ["^react$", "^next/.*$", "<THIRD_PARTY_MODULES>", "@/components/.*", "^[./]", "<TYPES>"],
  "printWidth": 120
}
